{% extends "base.html" %}
{% block title %}教材與作品{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">教材與作品</h1>
      <div class="mb-3">
        <label for="publisher" class="form-label">Publisher</label>
        <input type="text" id="publisher" name="publisher" class="form-control" placeholder="Enter Publisher" required>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" required>
      </div>
      <div class="mb-3">
        <label for="authors" class="form-label">Authors</label>
        <input type="date" id="authors" name="authors" class="form-control" placeholder="Enter Authors" required>
      </div>
      <div class="mb-3">
        <label for="teaching_work_type" class="form-label">Teaching Work Type</label>
        <input type="date" id="teaching_work_type" name="teaching_work_type" class="form-control" placeholder="Enter Teaching Work Type" required>
      </div>
      <button type="submit" class="btn btn-primary">ADD</button>
  </form>
  <br>
{% endblock %}