{% extends "base.html" %}
{% block title %}校內獎勵及指導學生獲獎{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">校內獎勵及指導學生獲獎</h1>
    <div class="mb-3">
      <label for="reward_time" class="form-label">Reward Time</label>
      <input type="date" id="reward_time" name="reward_time" class="form-control" placeholder="Enter Reward Time" required>
    </div>
      <div class="mb-3">
        <label for="award" class="form-label">Award</label>
        <input type="text" id="award" name="award" class="form-control" placeholder="Enter Award" required>
      </div>
      <div class="mb-3">
        <label for="school" class="form-label">School</label>
        <input type="text" id="school" name="school" class="form-control" placeholder="Enter School" required>
      </div>
      <div class="mb-3">
        <label for="attribute" class="form-label">Attribute</label>
        <input type="text" id="attribute" name="attribute" class="form-control" placeholder="Enter Attribute" required>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" required>
      </div>
      <button type="submit" class="btn btn-primary">ADD</button>
  </form>
  <br>
{% endblock %}