{% extends "base.html" %}
{% block title %}新增課程{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">新增課程</h1>
      <div class="mb-3">
        <label for="week" class="form-label">Week</label>
        <input type="int" id="week" name="week" class="form-control" placeholder="Enter Week" required>
      </div>
      <div class="mb-3">
        <label for="time" class="form-label">Time</label>
        <input type="int" id="time" name="time" class="form-control" placeholder="Enter Time" required>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Class Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Class Name" required>
      </div>
      <input type="hidden" id="teacher_id" name="teacher_id" value="{{ user.teacher_id }}">
      <button type="submit" class="btn btn-primary">ADD</button>
</form>
{% endblock %}