{% extends "base.html" %}
{% block title %}課表{% endblock %}
{% block content %}
<style>
    table {
        width: 80%; 
        table-layout: auto;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #e8e8e8;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #dedede;
    }
</style>
<form method="POST">
    <h3 align="left">課表</h3>
    <table>
        <thead>
            <tr>
                <th>時間</th>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
                <th>星期六</th>
                <th>星期日</th>
            </tr>
        </thead>
        <tbody>
            {% for time in range(1, 15) %}
                <tr>
                    <td>第{{ time }}節</td>
                    {% for week in range(1, 8) %}
                        <td>{{ schedules_table[week-1][time-1] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="accordion-body">
        {% if user.teacher_id == teacher.teacher_id %}
        <a href="/teacher/{{teacher.teacher_id}}/class-schedule/add-class">新增課程</a>
        {% endif %}
    </div>
</form>
{% endblock %}
