
<!-- Footer sytle -->
<style>
  #footer{
    background: #212529;
    border-top: 4px solid #212529;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0;
    position: relative;
    clear: both
  }
  .custom-bg-color-1 {
    background-color: #4a5559 !important;
  }
  .m-0 {
    margin: 0 !important;
  }
  .border-top-0 {
      border-top: 0 !important;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
  user agent stylesheet
  footer {
      display: block;
      unicode-bidi: isolate;
  }
  #footer p:not(.no-custom-color), #footer a:not(.no-custom-color), #footer span:not(.no-custom-color) {
    color: #a8b0b3;
    -webkit-transition: ease color 300ms;
    transition: ease color 300ms;
    font-size: 13px;
  }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
      color: #FFF;
  }
  html .text-color-light, html .text-light {
      color: #ffffff !important;
  }
  .custom-fontsize-6 {
      font-size: 19.2px !important;
      font-size: 1.2rem !important;
      letter-spacing: 0;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem !important;
  }
  h2 {
      font-size: 2.2em;
      font-weight: 300;
      line-height: 42px;
      margin: 0 0 32px 0;
  }
  h1, h2, h3, h4, h5, h6 {
      color: #212529;
      font-weight: 200;
      letter-spacing: -.05em;
      margin: 0;
      -webkit-font-smoothing: antialiased;
  }
  .h2, h2 {
      font-size: 2rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      margin-bottom: .5rem;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.2;
      color: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: .5rem;
  }
</style>

<!-- Footer -->
<footer id="footer" class="custom-bg-color-1 border-top-0 m-0">
    <div class="container">
        <div class="row py-5 ">
            <div class="col-lg-5">
                <p class="pr-5">逢甲資訊工程系成立於1969年，是我國資訊教育界先驅之一，具有學士班、碩士班及博士班，學制完整形成相互學習的場域，迄今已有畢業系友萬餘人。本系以教學為本，建立扎實基礎;
                    精實研究，厚實創能人才; 鼓勵產學合作，培育務實能力。</p>
                <img src="{{ url_for('static', filename='images/logo_footer.ed94b80e9e25.svg') }}" style="height: 65px;" alt="iecs-logo">
                <img src="{{ url_for('static', filename='images/IEET.9fdebee6472f.svg') }}" style="height:90px;" alt="ieet-logo">
                <p><a href="https://www.iecs.fcu.edu.tw/nlhsueh">Developed by Software Engineering Lab</a></p>
            </div>
            <div class="col-sm-6 col-lg-2">
                <h2 class="text-color-light custom-fontsize-6 mb-3">快速連結</h2>
                <ul class="list list-unstyled">
                    <li><a href="http://www.fcu.edu.tw">逢甲大學</a></li>
                    <li><a href="https://www.checkinatfcu.com/">逢城學記</a></li>
                    <li><a href="https://ilearn2.fcu.edu.tw/">ilearn2.0</a></li>
                    <li><a href="http://www.coiee.fcu.edu.tw">資訊電機學院</a></li>
                    <li><a href="https://collego.edu.tw/Highschool/DepartmentIntro?dept_id=015029">Collego</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-2">
                <h2 class="text-color-light custom-fontsize-6 mb-3">常用服務</h2>
                <ul class="list list-unstyled">
                    <li><a href="https://coursesearch02.fcu.edu.tw/main.aspx">課程檢索系統</a></li>
                    <li><a href="https://topic-coiee.fcu.edu.tw/booking?unit=dcb44906-4411-4e7f-b7d1-12afb73e173e">研討室借用系統</a></li>
                    <li><a href="https://topic-coiee.fcu.edu.tw/booking">資電學院資源借用</a></li>
                    <li><a href="https://topic-coiee.fcu.edu.tw/">專題計畫管理系統</a></li>
                    <li><a href="https://intern.iecs.fcu.edu.tw/">產學實習管理系統</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h2 class="text-color-light custom-fontsize-6 mb-3">聯絡我們</h2>
                <a href="https://goo.gl/maps/Ly6QMouiP8y"><p>逢甲大學 資訊電機館二樓(資電201)<br>台中市西屯區逢大路127號(文華路100號) </p></a>
                <a href="tel:0424517250"><p class="mb-0 text-white">聯絡電話：0424517250#3701</p></a>
                <a href="mailto:iecs@fcu.edu.tw"><p class="mb-0 text-white">聯絡信箱：iecs@fcu.edu.tw</p></a>
                <a href="https://www.fcu.edu.tw/privacy/"><p class="mb-0">個資保護政策</p></a>
                <!-- <ul class="header-social-icons social-icons d-none d-sm-block ml-1 mt-4">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/groups/FCUIECSSA/about/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://goo.gl/maps/Ly6QMouiP8y" target="_blank" title="googlemap"><i class="fas fa-map-marker-alt"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</footer>