{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div align="center">
    <h1>Home Page</h1>
    <a href="/role/1">系主任</a>
    <br>
    <a href="/role/2">榮譽特聘講座</a>
    <br>
    <a href="/role/3">講座教授</a>
    <br>
    <a href="/role/4">特約講座</a>
    <br>
    <a href="/role/5">特聘教授</a>
    <br>
    <a href="/role/6">專任教師</a>
    <br>
    <a href="/role/7">兼任教師</a>
    <br>
    <a href="/role/8">行政人員</a>
    <br>
    <a href="/role/9">退休教師</a>

    <h2>系主任</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 1%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>榮譽特聘講座</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 2%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>講座教授</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 3%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>特約講座</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 4%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>特聘教授</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 5%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>專任教師</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 6%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>兼任教師</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 7%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>行政人員</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 8%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    <h2>退休教師</h2>
    {% for teacher in teachers %}
        {% if teacher.role_id == 9%}
            <a>{{teacher.name}}</a>
            <a>{{teacher.email}}</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
    {% endif %}
</div>
{% endblock %}