{% extends "base.html" %}
{% block title %}修改期刊論文{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">修改期刊論文</h1>
      <div class="mb-3">
        <label for="course_name" class="form-label">Course Name</label>
        {% if artical_to_mod["course_name"] %}
        <input value={{artical_to_mod['course_name']}} type="text" id="course_name" name="course_name" class="form-control" placeholder="Enter Course Name" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="journal_name" class="form-label">Journal Name</label>
        {% if artical_to_mod["journal_name"] %}
        <input value={{artical_to_mod['journal_name']}} type="text" id="journal_name" name="journal_name" class="form-control" placeholder="Enter Journal" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="collaborators" class="form-label">Collaborators</label>
        {% if artical_to_mod["collaborators"] %}
        <input value={{artical_to_mod['collaborators']}} type="text" id="collaborators" name="collaborators" class="form-control" placeholder="Enter Collaborators">
        {% else %}
        <input type="text" id="collaborators" name="collaborators" class="form-control" placeholder="Enter Collaborators">
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="page_number_of_the_journal" class="form-label">Page Number of the Journal</label>
        {% if artical_to_mod["page_number_of_the_journal"] %}
        <input value={{artical_to_mod['page_number_of_the_journal']}} type="text" id="page_number_of_the_journal" name="page_number_of_the_journal" class="form-control" placeholder="Enter Page Number of the Journal" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="indexed_website" class="form-label">Indexed Website</label>
        {% if artical_to_mod["indexed_website"] %}
        <input value={{artical_to_mod['indexed_website']}} type="text" id="indexed_website" name="indexed_website" class="form-control" placeholder="Enter Indexed Website" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="indexed_time" class="form-label"></label>
        {% if artical_to_mod["indexed_time"] %}
        <input value={{artical_to_mod['indexed_time']}} type="date" id="indexed_time" name="indexed_time" required>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
  <br>
{% endblock %}