{% extends "base.html" %}
{% block title %}修改專書及技術報告{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">修改專書及技術報告</h1>
      <div class="mb-3">
        <label for="book_report_type" class="form-label">Book Report Type</label>
        {% if artical_to_mod["book_report_type"] %}
        <input value={{artical_to_mod['book_report_type']}} type="text" id="book_report_type" name="book_report_type" class="form-control" placeholder="Enter Book Report Type" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="authors" class="form-label">Authors</label>
        {% if artical_to_mod["authors"] %}
        <input value={{artical_to_mod['authors']}} type="text" id="authors" name="authors" class="form-control" placeholder="Enter Authors" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        {% if artical_to_mod["name"] %}
        <input value={{artical_to_mod['name']}} type="text" id="name" name="name" class="form-control" placeholder="Enter Name" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="publisher" class="form-label">Publisher</label>
        {% if artical_to_mod["publisher"] %}
        <input value={{artical_to_mod['publisher']}} type="text" id="publisher" name="publisher" class="form-control" placeholder="Enter Publisher" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        {% if artical_to_mod["country"] %}
        <input value={{artical_to_mod['country']}} type="text" id="country" name="country" class="form-control" placeholder="Enter Country" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        {% if artical_to_mod["date"] %}
        <input value={{artical_to_mod['date']}} type="date" id="date" name="date" required>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
  <br>
{% endblock %}