{% extends "base.html" %}
{% block title %}Role{% endblock %}
{% block content %}
<div align="center">
    <h2>{{role.role_name}}</h2>

    {% for teacher in role.teachers %}
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static', filename='images/' ~ teacher.photo) }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{teacher.name}}</h5>
            <p class="card-text introduction">{{teacher.self_introduction}}</p>
            <a href="/teacher/{{teacher.teacher_id}}" class="btn btn-primary">View Profile</a>
          </div>
        </div>
        <br>
    {% endfor %}

    {% if user.is_authenticated %}
    {% endif %}
</div>
{% endblock %}