{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">Sign Up</h1>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        {% if last_name %}
        <input value={{last_name}} type="text" id="name" name="name" class="form-control" required>
        {% else %}
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        {% if last_email %}
          <input value={{last_email}} id="email" name="email" class="form-control" required>
        {% else %}
          <input id="email" name="email" class="form-control" placeholder="Enter Your Email" required>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter Password (length can't be less than 6 characters)" required>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Enter the same password again" required>
      </div>
      <div class="mb-3">
        <label for="role_type" class="form-label">Role</label>
        <select id="role_type" name="role_type" class="form-select" required>
            <option value="" disabled selected>選擇一個職位名稱</option>
            <option value="1">系主任</option>
            <option value="2">榮譽特聘講座</option>
            <option value="3">講座教授</option>
            <option value="4">特約講座</option>
            <option value="5">特聘教授</option>
            <option value="6">專任教師</option>
            <option value="7">兼任教師</option>
            <option value="8">行政人員</option>
            <option value="9">退休教師</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <br>
{% endblock %}