{% extends "base.html" %}
{% block title %}{{teacher.name}}{% endblock %}
{% block content %}
<div align="center">
    <h1>{{teacher.name}}</h1>

    <h3>信箱: {{teacher.email}}</h3>

    <h3>個人簡介</h3>
    <br>
    <pre>{{teacher.self_introduction}}</pre>

    <h3>學歷</h3>
    <br>
    <pre>{{teacher.school}}</pre>

    <h3>專長</h3>
    <br>
    <pre>{{teacher.interest}}</pre>

    <h3>校內經歷</h3>
    <br>
    {% for experience in teacher.internal_experiencs %}
    <pre>{{experience.department}}</pre>
    {% endfor %}

    <h3>校外經歷</h3>
    <br>
    {% for experience in teacher.external_experiences %}
    <pre>{{experience.position}}</pre>
    {% endfor %}

    {% if user.is_authenticated %}
    {% endif %}
</div>
{% endblock %}