{% extends "base.html" %}
{% block title %}{{teacher.name}}{% endblock %}
{% block content %}
<style>
  .wrapper {
    padding: 20px;
    /* background: #eaeaea; */
    /* max-width: 400px; */
    margin: 50px auto;
  }
  .demo-1 {
  /* overflow: hidden; */
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  }
  table {
      width: 80%; 
      table-layout: auto;
      border-collapse: collapse;
  }
  th, td {
      border: 1px solid #e8e8e8;
      padding: 8px;
      text-align: center;
  }
  th {
      background-color: #dedede;
  }
  .add-class-btn {
      display: inline-block;
      padding: 8px 16px;
      color: rgb(60, 60, 60);
      border: 2px solid rgb(60, 60, 60);
      background-color: white;
      border-radius: 20px;
      text-decoration: none;
      text-align: center;
  }
  .add-class-btn:hover {
      background-color: #f0f0f0;
  }

  form {
    display: inline-block;
  }
</style>

<div align="center">
  <!-- <img src="./static/images/{{teacher.photo}}" class="img-thumbnail" alt="..."> -->
  <img src="{{ url_for('static', filename='images/' ~ teacher.photo) }}" class="img-thumbnail" alt="...">
  <h1>{{teacher.name}}</h1>

  <h3>信箱: {{teacher.email}}</h3>

    <div class="accordion-body">
      <a href="/teacher/{{teacher.teacher_id}}/class-schedule" class="add-class-btn">課表時間</a>
    </div>

    <h3>個人簡介</h3>
    <br>
    <div class="wrapper">
      <p class="demo-1" align="left">{{teacher.self_introduction}}</p>
    </div>
    {% if user.teacher_id == teacher.teacher_id %}
      <a class="btn btn-primary" href="/teacher/{{teacher.teacher_id}}/edit-introduction">Edit</a>
    {% endif %}
    <br>
    <br>

  <h3>學歷</h3>
  <br>
  <pre>{{teacher.school}}</pre>

    {% if user.teacher_id == teacher.teacher_id %}
      <a class="btn btn-primary" href="/teacher/{{teacher.teacher_id}}/edit-school">Edit</a>
    {% endif %}
    <br>
    <br>

  <h3>專長</h3>
  <br>
  <pre>{{teacher.interest}}</pre>
    {% if user.teacher_id == teacher.teacher_id %}
      <a class="btn btn-primary" href="/teacher/{{teacher.teacher_id}}/edit-interest">Edit</a>
    {% endif %}
    <br>
    <br>

  <h3>校內經歷</h3>
  <br>
  {% for experience in teacher.internal_experiencs %}
  <pre>{{experience.department}} {{ experience.position }}</pre>
  {% endfor %}
  {% if user.teacher_id == teacher.teacher_id %}
  <a href="/add-internal-experience">新增校內經歷</a>
  {% endif %}
  <br>
  <br>

  <h3>校外經歷</h3>
  <br>
  {% for experience in teacher.external_experiences %}
  <pre>{{experience.position}}</pre>
  {% endfor %}
  {% if user.teacher_id == teacher.teacher_id %}
  <a href="/add-external-experience">新增校外經歷</a>
  {% endif %}
  <br>
  <br>

  <h3>論文及參與計畫</h3>
  <br>
  <button class="btn btn-primary" type="button" id="show-all-btn">Show all</button>
  <button class="btn btn-primary" type="button" id="close-all-btn">Collapse all</button>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          發表期刊論文
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          {% for i in teacher.journal_articals %}
          <a>
            {{i.course_name}}, {{i.journal_name}}, 
            {% if i.collaborators != "" %}
              {{i.collaborators}}, 
            {% endif %}
            {{i.page_number_of_the_journal}}, {{i.indexed_website}}, {{i.indexed_time}}
          </a>
          {% if user.teacher_id == teacher.teacher_id %}
            <a href="/teacher/{{user.teacher_id}}/modify-journal-artical/{{i.journal_artical_id}}" class="add-class-btn">修改</a>
            <form action="/teacher/{{user.teacher_id}}/delete-journal-artical/{{i.journal_artical_id}}" onsubmit="return confirm('Do you really want to delete journal_artical: {{ i.journal_name }}')" method="post">
              <button type="submit" class="add-class-btn">刪除</button>
            </form>
          {% endif %}
          <br>
          <br>
          {% endfor %}
          <br>
          {% if user.teacher_id == teacher.teacher_id %}
          <a href="/add-journal-artical">新增發表期刊論文</a>
          {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                會議論文
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.proceeding_articals%}
                <a>
                  {{i.artical_name}}, 
                  {% if i.collaborators != "" %}
                    {{i.collaborators}}, 
                  {% endif %}
                  {{i.page_number_of_the_artical}}, {{i.session_venue}}, {{i.time}}
                </a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-proceeding-artical/{{i.proceeding_artical_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-proceeding-artical/{{i.proceeding_artical_id}}" onsubmit="return confirm('Do you really want to delete proceeding_artical: {{ i.artical_name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-proceeding-artical">新增會議論文</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                專書及技術報告
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.book_reports %}
                <a>{{i.book_report_type}}, {{i.authors}}, {{i.name}}, {{i.publisher}}, {{i.country}}, {{i.date}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-book-report/{{i.book_report_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-book-report/{{i.book_report_id}}" onsubmit="return confirm('Do you really want to delete book report: {{ i.name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-book-report">新增專書及技術報告</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                國科會計畫
            </button>
          </h2>
          <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.national_projects %}
                <a>{{i.name}}, {{i.time}}, {{i.number}}, {{i.attribute}}, {{i.host}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-national-project/{{i.national_project_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-national-project/{{i.national_project_id}}" onsubmit="return confirm('Do you really want to delete national project: {{ i.name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-national-project">新增國科會計畫</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                產學合作計畫
            </button>
          </h2>
          <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.university_projects %}
                <a>{{i.name}}, {{i.time}}, {{i.host}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-university-project/{{i.university_project_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-university-project/{{i.university_project_id}}" onsubmit="return confirm('Do you really want to delete national project: {{ i.name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-university-project">新增產學合作計畫</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                校外獎勵及指導學生獲獎
            </button>
          </h2>
          <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.awards %}
                <a>{{i.government}}, {{i.award_name}}, {{i.year}}, {{i.students}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-award/{{i.award_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-award/{{i.award_id}}" onsubmit="return confirm('Do you really want to delete award: {{ i.award_name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-award">新增校外獎勵及指導學生獲獎</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                校內獎勵及指導學生獲獎
            </button>
          </h2>
          <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.rewards %}
                <a>{{i.reward_time}}, {{i.award}}, {{i.school}}, {{i.attribute}}, {{i.name}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-reward/{{i.reward_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-reward/{{i.reward_id}}" onsubmit="return confirm('Do you really want to delete reward: {{ i.name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-reward">新增校內獎勵及指導學生獲獎</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                校內外演講
            </button>
          </h2>
          <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.speeches %}
                <a>{{i.name}}, {{i.location}}, {{i.date}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-speech/{{i.speech_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-speech/{{i.speech_id}}" onsubmit="return confirm('Do you really want to delete speech: {{ i.name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-speech">新增校內外演講</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                專書論文
            </button>
          </h2>
          <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.book_chapters %}
                <a>
                  {{i.book_name}}, 
                  {% if i.collaborators != "" %}
                    {{i.collaborators}}, 
                  {% endif %}
                  {{i.page_number_of_the_artical}}, {{i.time}}
                </a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-book-chapter/{{i.book_chapter_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-book-chapter/{{i.book_chapter_id}}" onsubmit="return confirm('Do you really want to delete book chapter: {{ i.book_name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-book-chapter">新增專書論文</a>
                  {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                教材與作品
            </button>
          </h2>
          <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for i in teacher.teaching_works %}
                <a>{{i.publisher}}, {{i.name}}, {{i.authors}}, {{i.teaching_work_type}}</a>
                {% if user.teacher_id == teacher.teacher_id %}
                  <a href="/teacher/{{user.teacher_id}}/modify-teaching-work/{{i.teaching_work_id}}" class="add-class-btn">修改</a>
                  <form action="/teacher/{{user.teacher_id}}/delete-teaching-work/{{i.teaching_work_id}}" onsubmit="return confirm('Do you really want to delete teaching work: {{ i.name }}')" method="post">
                    <button type="submit" class="add-class-btn">刪除</button>
                  </form>
                {% endif %}
                <br>
                <br>
                {% endfor %}
                <br>
                  {% if user.teacher_id == teacher.teacher_id %}
                    <a href="/add-teaching-work">新增教材與作品</a>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

  <br>
  <br>
  <br>
  <br>

  {% if user.is_authenticated %}
  {% endif %}
</div>
{% endblock %}